/* common */
ul {
    list-style: none;
}
h2 {
	margin-top: 104px !important;
}
@media only screen and (min-width: 960px) {
	.container {
    	max-width: 960px !important;
    	padding: 0 4%;
	}
}

/* header */
header {
	padding: 20px 0;
}
nav ul {
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}
nav a {
    text-decoration: none;
    color: #000;
}
h1 {
	text-align: center;
}
@media only screen and (min-width: 768px) {
	header {
		padding: 125px;
	}
}

/* mv */
#mainvisual img {
    height: 420px;
    object-fit: cover;
}

/* about */
#about ul {
	padding-left: 0;
}
@media only screen and (min-width: 768px) {

}

/* works */
.works_list {
    padding: 0;
	row-gap: 24px;
}
.works_list li img {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	.works_list li {
		width: 31%;
	}	
}

/* news */
#news dt {
	padding-top: 8px;
	border-top: solid 1px #c8c8c8;
}
#news dd, #news dt {
	width: 100%;
}
#news dd:last-of-type {
	padding-bottom: 8px;
	border-bottom: solid 1px #c8c8c8;
}
@media only screen and (min-width: 768px) {
	#news dd {
    	width: 80%;
	}
	#news dt {
		width: 20%;
	}
	#news dd, #news dt {
		padding: 1rem;
    	margin: 0;
		border-top: solid 1px #c8c8c8;
	}
	#news dt:last-of-type, #news dd:last-of-type {
		border-bottom: solid 1px #c8c8c8;
	}
}

/* contact */
#contact dl input,#contact dl textarea {
	width: 100%;
}
#contact dl textarea {
    height: 150px;
}

.button input {
    width: 200px;
    padding: 1rem;
    background: #24292e;
    color: #fff;
}
@media only screen and (min-width: 768px) {
	#contact dt {
		width: 15%;
	}
	#contact dd {
		width: 85%;
	}
}

/* footer */
footer {
    background: #3a3a3a;
    color: #fff;
    padding: .5rem;
    margin-top: 180px;
}