/* common */
.container {
    width: 960px !important;
    padding: 0 4%;
}
ul {
    list-style: none;
}
h2 {
	margin-top: 104px !important;
}

/* header */
header {
    padding: 125px;
}
nav ul {
    gap: 1.5rem;
}
nav a {
    text-decoration: none;
    color: #000;
}


/* mv */
#mainvisual img {
    height: 420px;
    object-fit: cover;
}

/* works */
.works_list {
    padding: 0;
	row-gap: 24px;
}
.works_list li {
    width: 31%;
}
.works_list li img {
	width: 100%;
}

/* news */
#news dd {
    width: 80%;
}
#news dt {
    width: 20%;
}
#news dd, #news dt {
    border-top: solid 1px #c8c8c8;
    padding: 1rem;
    margin: 0;
}
#news dt:last-of-type, #news dd:last-of-type {
    border-bottom: solid 1px #c8c8c8;
}

/* contact */
#contact dt {
    width: 15%;
}
#contact dl {
    width: 85%;
}
#contact dl input,#contact dl textarea {
	width: 100%;
}
#contact dl textarea {
    height: 150px;
}

.button input {
    width: 200px;
    padding: 1rem;
    background: #24292e;
    color: #fff;
}

/* footer */
footer {
    background: #3a3a3a;
    color: #fff;
    padding: .5rem;
    margin-top: 180px;
}